<%= render 'user_home_panel_header'%>
</br></br>
<script type="text/javascript" charset="utf-8">
  $(function(){
    $('#cropbox').Jcrop({
        onChange: update_crop,
        onSelect: update_crop,
        setSelect: [0,0,400,400],
        aspectRatio: 1
    });
  });

  function update_crop(coords){
      $("#crop_x").val(coords.x);
      $("#crop_y").val(coords.y);
      $("#crop_w").val(coords.w);
      $("#crop_h").val(coords.h);

  }
</script>
</br></br></br>

<center><%= image_tag @user.profile_picture_url(:large),:id => "cropbox",class: ['cropbox']%>
</br>
  <%= form_for [:admin, @user] do |f| %>

      <% %w[x y  w h].each do |attribute| %>
         <%= f.text_field "crop_#{attribute}", id: "crop_#{attribute}"%>
      <% end %>
   <div class="actions">
    <p><%= f.submit "Crop" %></p>
   </div>
  <% end %>

  <%= @user.first_name%>
</center>
</br></br>
<%= render 'user_home_panel_footer'%>