<!--<%= stylesheet_link_tag "users.scss" %>-->
  <div class="header">
  <div><h4>
    <%= link_to 'LIST USERS', admin_users_path, class: ['header_single_element'] %>&nbsp;&nbsp;&nbsp;
    <font class="shades">EDIT <%= @user.first_name%>'s INFO</font>
   </h4></div>
  </div>



<!--<%= pluralize(@user.errors.count, "Error") %>
            is present.   <br>
<% @user.errors.full_messages.each do |message| %>
 <%= message + ", " %>
<%end%><br>    -->



<br>
<%= form_for [:admin, @user] do |f| %>

<table class="table_colour" align="center"  width="500" border="0" cellspacing="5" cellpadding="2" >
   <!--  <tr  align="left">
       <th align="center"  rowspan="" colspan="6"><b>User Registration Form.</b></th>
        &nbsp; &nbsp; &nbsp; &nbsp;   
    </tr>
 -->


 <tr>
 <td colspan='2'><font class="validation_errror"><%= @user.errors[:first_name].join(" or ").capitalize %></font></td><td colspan='2'></td>
 <td colspan='2'><font class="validation_errror"><%= @user.errors[:last_name].join(" or ").capitalize %></font></td> 
 </tr>

    <tr>
        <td ><b><font class="form_element">First Name</font></b></td>
         <td >  <%= f.text_field :first_name, class: ['textbox5_mandatory'] %> </td>

        <td ><b><font class="form_element">Middle Name</font></b></td>
        <td ><%= f.text_field :middle_name, class: ['textbox5']  %></td>
       
        <td ><b><font class="form_element">Last Name</font></b></td>
         <td ><%= f.text_field :last_name, class: ['textbox5_mandatory']  %></td>
    </tr>





 <tr>
   <!--  <td><%= @user.errors[:first_name].join(", ")%></td> -->
  <td colspan='2'><font class="validation_errror"><%= @user.errors[:user_ID].join(" or ").capitalize %></font></td> 
  <td colspan='2'><font class="validation_errror"><%= @user.errors[:password].join(" or ").capitalize %></font></td> 
  <td colspan='2'><font class="validation_errror"><%= @user.errors[:password_confirmation].join(" or ").capitalize %></font></td> 
 </tr>

        </tr>
    <tr>
        <td ><b><font class="form_element">User ID</font></b></td>
        <td ><%= f.text_field :user_ID, class: ['textbox5_mandatory']  %></td>
           
        <td><b><font class="form_element">Password</font></b></td>
        <td ><%= f.password_field :password, class: ['textbox5_mandatory']  %></td>

        <td> <b><font class="form_element">Confirm Password</font></b></td>
        <td ><%= f.password_field :password_confirmation, class: ['textbox5_mandatory']  %></td>
    </tr>




 <tr>
   <!--  <td><%= @user.errors[:first_name].join(", ")%></td> -->
  <td colspan='2'><font class="validation_errror"><%= @user.errors[:email].join(" or ").capitalize %></font></td> 
  <td colspan='2'><font class="validation_errror"><%= @user.errors[:password].join(" or ").capitalize %></font></td> 
  </font></td> 
 </tr>
    <tr>
        <td><b><font class="form_element">Email ID</font></b></td>
        <td ><%= f.text_field :email, class: ['textbox5']  %></td>
           
        <td><b><font class="form_element">Employee ID</font></b></td>
        <td ><%= f.text_field :emloyee_ID, class: ['textbox5_mandatory']  %></td>
    </tr>




 <tr>
  <td colspan='2'><font class="validation_errror"><%= @user.errors[:dob].join(" or ").capitalize %></font></td> 
  </font></td> 
 </tr>

    <tr>
       <td><b><font class="form_element">DOB</font></b></td>
      <td > <%= f.date_field :dob, class: ['textbox5_mandatory'] ,:value => @user.dob %></td>

        <td ><b><font class="form_element">Sex</font></b></td>
        <td > <%= f.select(:gender, options_for_select([['Male'], ['Female']])) %></td>
        
 
 <td ><b><font class="form_element">Time zone</font></b></td>
 <td ><%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
 </td>                                      
</tr>





 <tr>
 <td colspan="2"></td>
 <td colspan='2'><font class="validation_errror"><%= @user.errors[:doj].join(" or ").capitalize %></font></td> 
  </font></td> 
 </tr>
 <tr >
        <td><b><font class="form_element">Designation</font></b></td>
        <td width="57%"><%= f.select(:designation_id, options_for_select([['Trainee',1], ['Trainer',2], ['Analyst', 3],['Team Lead', 4],['Manager', 5]],)) %></td>
        
        <td ><b><font class="form_element">DOJ</font></b></td>
        <td ><%= f.date_field :doj, class: ['textbox5_mandatory'] ,:value => @user.doj %></td>
        
        <td><b><font class="form_element">Education</font></b></td>
        <td width="57%"><%= f.text_area :educational_detail, class: ['textbox5']  %></td>

  
    </tr>









    <tr>
        <td  width="41%"><b><font class="form_element">Comments</font></b></td>
         <td width="57%"><%= f.text_area :comments, class: ['textbox5']  %></td>
    </tr>



<tr>
  <td  valign="top" colspan="2" >
   <label class="i-checks"> <%= f.check_box :lock %> <i></i> <b><font  class="form_element">Is Locked</font></b></label>
   </td>
   <td  valign="top" colspan="2" >
   <label class="i-checks"> <%= f.check_box :active%> <i></i><font class="form_element"><b> Is Active </b></font></label>
   </td>
<td  ><b><font class="form_element">Deactivated on</font></b></td>
   <td ><%= f.date_field :deactive_date, class: ['textbox5'] ,:value => @user.deactive_date %></td>
 </tr>







 <tr>
 <td colspan="2"></td>
 <td colspan='2'><font class="validation_errror"><%= @user.errors[:work_phone].join(" or ").capitalize %></font></td> 
  </font></td> 
 </tr>
 <tr >
        <td><b><font class="form_element">Reason for deactivation</font></b></td>
        <td width="57%">
<%= f.select(:deactive_reason, options_for_select([['No longer an employee with us'], ['Long medical leave'], ['Absconding']])) %></td>
        
   
        <td  width="41%"><b><font class="form_element">Work Phone</font></b></td>
       <td width="57%"><%= f.text_field :work_phone, class: ['textbox5_mandatory']  %></td>

 
    </tr>

<tr></tr>

    
    <tr>
        <td colspan="6">
        <p align="center">
        <input type="submit" value="  Submit" name="B4" class="submit_button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="reset" value="  Reset All   " name="B5" class="submit_button" <%=  @user = nil%>>
        </td>
    </tr>
 
</table>
<% end %>