<%= render 'user_home_panel_header'%>
</br></br>

<center>
<div class="edit_form_width">
<%= form_for [:admin, @user] do |f| %>
    <div class="table-responsive">
    <table class="table_colour_small_font_edit_form" >
      <tr>
        <td colspan='2'><font class="validation_errror"><%= @user.errors[:first_name].join(" or ").capitalize %></font></td><td colspan='2'></td>
        <td colspan='2'><font class="validation_errror"><%= @user.errors[:last_name].join(" or ").capitalize %></font></td>
      </tr>
      <tr class="separator" >
        <td ><b>First Name</b></td>
        <td >  <%= f.text_field :first_name, class: ['textbox5_mandatory'] %> </td>
        <td ><b>Middle Name</b></td>
        <td ><%= f.text_field :middle_name, class: ['textbox5']  %></td>
        <td ><b>Last Name</b></td>
        <td ><%= f.text_field :last_name, class: ['textbox5_mandatory']  %></td>
      </tr>

      <tr  >
        <td colspan='2'><font class="validation_errror"><%= @user.errors[:user_ID].join(" or ").capitalize %></font></td>
      </tr>

      <tr  >
        <td ><b>User ID</b></td>
        <td ><%= f.text_field :user_ID, class: ['textbox5_mandatory']  %></td>
        <td><b><font class="form_element">Role</font></b></td>
        <td width="57%"><%= f.select(:role_id, options_for_select([['Adminstrator',1], ['User',2]],:selected => @user.role_id)) %></td>
      </tr>

      <tr>
        <td colspan='2'><font class="validation_errror"><%= @user.errors[:email].join(" or ").capitalize %></font></td>
        <td colspan='2'><font class="validation_errror"><%= @user.errors[:passwoSrd].join(" or ").capitalize %></font></td>
        </font></td>
      </tr>

      <tr class="separator" >
        <td><b><font class="form_element">Email ID</font></b></td>
        <td ><%= f.text_field :email, class: ['textbox5']  %></td>
        <td><b><font class="form_element">Employee ID</font></b></td>
        <td ><%= f.text_field :emloyee_ID, class: ['textbox5_mandatory']  %></td>
      </tr>

      <tr>
        <td colspan='2'><font class="validation_errror"><%= @user.errors[:dob].join(" or ").capitalize %></font></td>
        </font></td>
      </tr>

      <tr>
        <td><b><font class="form_element">DOB</font></b></td>
        <td > <%= f.text_field :dob, class: ['textbox5_mandatory'] ,:value => @user.dob,:id =>'relative_date_dob'%> <%= image_tag 'cal.gif',:onclick => 'javascript:NewCssCal("relative_date_dob")' %></td>
        <td ><b><font class="form_element">Sex</font></b></td>
        <td > <%= f.select(:gender, options_for_select([['Male'], ['Female']])) %></td>
        <td ><b><font class="form_element">Time zone</font></b></td>
        <td ><%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
        </td>
      </tr>

      <tr>
        <td colspan="2"></td>
        <td colspan='2'><font class="validation_errror"><%= @user.errors[:doj].join(" or ").capitalize %></font></td>
        </font></td>
      </tr>

      <tr >
        <td><b><font class="form_element">Designation</font></b></td>
        <td width="57%"><%= f.select(:designation_id, options_for_select([['Trainee',1], ['Trainer',2], ['Analyst', 3],['Team Lead', 4],['Manager', 5]],:selected => @user.designation_id)) %></td>
        <td ><b><font class="form_element">DOJ</font></b></td>
        <td ><%= f.text_field :doj, class: ['textbox5_mandatory doj'] ,:value => @user.doj, :id => 'relative_date_doj' %><%= image_tag 'cal.gif',:onclick => 'javascript:NewCssCal("relative_date_doj")' %></td>
        <td><b><font class="form_element">Education</font></b></td>
        <td width="57%"><%= f.text_area :educational_detail, class: ['textbox5']  %></td>
      </tr>

      <tr>
        <td colspan='2'><font class="validation_errror"><%= @user.errors[:previous_experience].join(" or ").capitalize %></font></td>
        </font></td>
      </tr>

      <tr>
        <td  width="41%"><b><font class="form_element">Previous Exp (Year)</font></b></td>
        <td width="57%"><%= f.text_field :previous_experience, class: ['previous_experience textbox5_mandatory'] %></td>
        <td  width="41%"><b><font class="form_element">Total Exp</font></b></td>
        <td><input type="text" class="total_experience"  readonly></td>
      </tr>

      <tr>
        <td  width="41%"><b><font class="form_element">Comments</font></b></td>
        <td width="57%"><%= f.text_area :comments, class: ['textbox5']  %></td>
        <td  valign="top" colspan="2" >
        <label class="i-checks"> <%= f.check_box :lock %> <i></i> <b><font  class="form_element">Is Locked</font></b></label>
        </td>
        <td  class = "hide_when_not_locked"><b><font class="form_element">Deactivated on</font></b></td>
        <td class = "hide_when_not_locked"><%= f.date_field :deactive_date, class: ['textbox5'] ,:value => @user.deactive_date %></td>
      </tr>

      <tr>
        <td colspan="2"></td>
        <td colspan='2'><font class="validation_errror"><%= @user.errors[:work_phone].join(" or ").capitalize %></font></td>
        </font></td>
      </tr>

      <tr >
        <td><b><font class="form_element">Reason for deactivation</font></b></td>
        <td width="57%">
          <%= f.select(:deactive_reason, options_for_select([[t(:form_deactivatre_reason1)], [t(:form_deactivatre_reason2)], [t(:form_deactivatre_reason3)]]))  %></td>
         </td>
        <td  width="41%"><b><font class="form_element">Work Phone</font></b></td>
        <td width="57%"><%= f.text_field :work_phone, class: ['textbox5_mandatory']  %></td>
      </tr>

      <tr>
        <td colspan="2">
          <label class="i-checks"> <%= check_box_tag :remove_profile_picture %> <i></i> <b><font  class="form_element">Remove Picture</font></b></label>
        </td>

        <div >
          <td class = "hide_when_no_profile_picture_need">
            <%= f.file_field :profile_picture,:id => "profile_picture",class: ['profile_picture'], :onchange => "readURL(this)" %>
          </td>
          <td class = "hide_when_no_profile_picture_need">
             <% if @user.profile_picture_url %>
                <%= image_tag @user.profile_picture_url(:thumb),:width => 100, :height => 100,:id => "image_visual_show",class: ['image_visual_show']%>
                </td>
            <% else %>
                <%= image_tag ("default_picture"), :width => "100", :height => "100", :id => "image_visual_show",class: ['image_visual_show']%>
            <% end %>
          </td>
        </div>
      </tr>

      <tr></tr>

      <tr>
        <td colspan="6">
        <p align="center">
        <input type="submit" value="  Submit" name="B4" class="submit_button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href=<%=root_path%>>
        <input type="button" value="Cancel" class="submit_button" />
        </a>
        </td>
      </tr>
 
     </table>
        </div>

<% end %>
</div>
</br></br>
<%= render 'user_home_panel_footer'%>
