<body>

<%= render 'user_home_panel_header'%>

  </br></br>
  <table align="center" class="table_colour_small_font"  border="1">
    <tr style="height: 60px">
      <td><h55><b>Profile Pic.</b></h55></td>
      <td><h55><b>Name</b></h55></td>
      <td><h55><b>UID</b></h55></td>
      <td><h55><b>Email</b></h55></td>
      <td><h55><b>Gender</b></h55></td>
      <td><h55><b>DES. ID</b></h55></td>
      <td><h55><b>DOJ</b></h55></td>
      <td><h55><b>Role</b></h55></td>
      <td><h55><b>Prev. Exp.</b></h55></td>
      <td><h55><b>Lock</b></h55></td>
      <td><h55><b>Active</b></h55></td>
    </tr>

    <% @users.each do |user| %>
        <tr>
          <td style="padding: 5px">
            <% if user.profile_picture_url %>
                <%= image_tag user.profile_picture_url(:thumb),:width => 50, :height => 50,:id => "cropbox",class: ['cropbox']%>
                </td>
            <% else %>
                <%= image_tag ("default_picture"), :width => "50", :height => "50"%>
            <% end %>
            <td><h6><b><%= user.first_name + " " + user.last_name %></b></h6></td>
            <td><h6><b><%= user.user_ID %></b></h6></td>
            <td><h6><b><%= user.email %></b></h6></td>
            <td><h6><b><%= user.gender %></b></h6></td>
            <td><h6><b><%= user.designation.designation_name %></b></h6></td>
            <td><h6><b><%= user.doj %></b></h6></td>
            <td><h6><b><%=  user.role.name  %></b></h6></td>
            <td><h6><b><%=  user.previous_experience %></b></h6></td>
            <td><h6><b><%= if(user.lock=="1") then 'True' ; else  'False' ;end %></b></h6></td>
            <td><h6><b><%= if(user.active=="1") then 'True' ; else  'False'; end %></b></h6></td>
            <td><h6><b><%= link_to 'EDIT', edit_admin_user_path(user), class: ['v_e_link'], method: :get %></b></h6></td>
            <td><h6><b><%= link_to 'DESTROY', admin_user_path(user),  class: ['destroy_link'],
                            method: :delete,
                            data: { confirm: 'Are you sure to delete this entry?' } %> </b></h6></td>
            <td><h6><b><%= link_to 'VIEW', admin_user_path(user), class: ['v_e_link'] %> </b></h6></td>
            </tr>
    <% end %>
  </table>
  </br></br>
<%= render 'user_home_panel_footer'%>
</div>
</body>