<body  class="body1" >

  <div class="header">
   <div><h4><!--<%= link_to 'NEW USER', new_admin_user_path, class: ['header_single_element'] %> -->
    <font class="header_single_content">    REGISTERED USERS LIST</font></h4></div>
  </div>
 
 <h4><b><%= link_to 'SIGN OUT', destroy_user_session_path, :method => :delete, class: ['v_e_link'] %> <span></span></a></li> 
  <%= link_to'ADD NEW USER', new_admin_user_path, class: ['v_e_link'], method: :get %> <span></span></a></b></u>


<center>
<p><b><i><font size="6" face="Georgia, Arial" color="teal">Welcome <%= current_user.first_name%> <font color="indigo">(<%= current_user.role.name%>)</font></font></p></i>
</center>
</br>


<center><font color="red"><%=flash[:error]%></font></center>

</br>
<table align="center" class="table_colour_small_font"  border="1">
  <tr>
    <td><h4>Name</h4></td>
    <td><h4>UID</h4></td>
    <td><h4>Email</h4></td>
    <td><h4>Employee ID</h4></td>
    <td><h4>DOB</h4></td>
    <td><h4>Gender</h4></td>
<!--     <td><h4>Time-zone</h4></td> -->
    <td><h4>DES. ID</h4></td>   
    <td><h4>DOJ</h4></td>
    <td><h4>Role</h4></td>
    <td><h4>Prev. Exp.</h4></td>
  <!--   <td><h4>Commands</h4></td> -->
    <td><h4>Lock</h4></td>
    <td><h4>Active</h4></td>
    <td><h4>Deactive</h4></td>
   <!--  <td><h4>Work phone</h4></td> -->

  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name + " " + user.middle_name + " " + user.last_name %></td>
      <td><%= user.user_ID %></td>
      <td><%= user.email %></td>
      <td><%= user.emloyee_ID %></td>
      <td><%= user.dob %></td>
      <td><%= user.gender %></td>
      <td><%= @designation_array[user.designation_id-1        ] %></td>
      <td><%= user.doj %></td>  
      <td><%=  user.role.name  %></td>  
      <td><%=  user.previous_experience %></td> 
      <td><%= if(user.lock=="1") then 'True' ; else  'False' ;end %></td>  
      <td><%= if(user.active=="1") then 'True' ; else  'False'; end %></td> 
      <td><%= user.deactive_date %></td> 
      <td><%= link_to 'EDIT', edit_admin_user_path(user), class: ['v_e_link'], method: :get %> </td>
      <td><%= link_to 'DESTROY', admin_user_path(user),  class: ['destroy_link'], 
              method: :delete,
              data: { confirm: 'Are you sure to delete this entry?' } %> </td>
      <td><%= link_to 'VIEW', admin_user_path(user), class: ['v_e_link'] %> </td>
  

    </tr>

       

  <% end %>
</table>


<footer>
<font color="white" align="right">
 <b><i> <p >Created by: EJ</p>
</footer>



<p></p>