<%= render 'user_home_panel_header'%>
</br></br>
<table align="center" class="table_colour_small_font"  border="1" width="500" >

   <tr>
     <td colspan="2" style="padding: 20px;">
       <% if @user.profile_picture_url %>
           <%= image_tag @user.profile_picture_url(:thumb,:width => 100, :height => 120),:id => "cropbox",class: ['cropbox']%>
           </td>
       <% else %>
           <%= image_tag ("default_picture"), :width => "100", :height => "100"%>
       <% end %>
     </td>
   </tr>

  <tr>
    <td> <strong>First name:</strong> </td>
    <td> <%= @user.first_name %></td>
  </tr>

   <tr>
    <td> <strong>Middle name:</strong> </td>
    <td> <%= @user.middle_name %></td>
  </tr>

   <tr>
    <td> <strong>Last name:</strong> </td>
    <td> <%= @user.last_name %></td>
  </tr>

   <tr>
    <td> <strong>User ID:</strong> </td>
    <td> <%= @user.user_ID %></td>
  </tr>

   <tr>
    <td> <strong>Email:</strong> </td>
    <td> <%= @user.email %></td>
   </tr>

   <tr>
    <td> <strong>Employee ID:</strong> </td>
    <td> <%= @user.emloyee_ID %></td>
   </tr>

   <tr>
    <td> <strong>DOB:</strong> </td>
    <td> <%=@user.dob %></td>
   </tr>

   <tr>
    <td><strong>Gender:</strong></td>
    <td><%= @user.gender %></td>
   </tr>

   <tr>
     <td><strong>Time zone:</strong></td>
     <td><%= @user.time_zone %></td>
   </tr>

   <tr>
     <td><strong>Designation ID:</strong></td>
     <td><%= @user.designation.designation_name %></td>
     </td>
   </tr>

     <td><strong>Role:</strong></td>
     <td><%= @user.role.name %></td>

   <tr>
     <td><strong> Date Of Joining:</strong></td>
     <td><%= @user.doj %></td>
   </tr>

   <tr>
     <td><strong> Previous Experience (years):</strong></td>
     <td><%=@user.previous_experience%></td>
   </tr>

   <tr>
     <td><strong> Total Experience (years):</strong></td>
     <td><%= @tot_exp%></td>
   </tr>

   <tr>
     <td><strong>Education:</strong></td>
     <td><%= @user.educational_detail %></td>
   </tr>

  <tr>
    <td><strong>Comments:</strong></td>
    <td><%= @user.comments %></td>
  </tr>

  <tr>
    <td><strong>Lock Status:</strong></td>
    <td><%= @calculate_lock_status %></td>
  </tr>

  <tr>
    <td><strong>Active  Status:</strong></td>
    <td><%= @calculate_active_status %></td>
  </tr>

  <tr>
    <td><strong>Deactive  Date:</strong></td>
    <td><%= @user.deactive_date %></td>
  </tr>

  <tr>
    <td><strong>Deactive Reason:</strong></td>
    <td><%= @user.deactive_reason %></td>
  </tr>

  <tr>
    <td><strong>Work phone:</strong></td>
    <td><%= @user.work_phone %></td>
  </tr>

  <tr><td colspan="2">

    <form action=<%=root_path%>>
      <input type="submit" value="  Back " class="submit_button">
    </form></td>
  </tr>

</table>
</br>
</br></br>
<%= render 'user_home_panel_footer'%>
